<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/responsive.css" />
    <title>Muhamad Fadhlan - Software Engineer</title>
  </head>
  <body>
    <!-- Header -->
    <header>
      <div class="main-container">
        <%- include('partials/nav') %>
        <%- include('partials/hero') %>
      </div>
    </header>
    <!-- End Header -->

    <!-- Services -->
    <%- include('partials/services') %>
    <!-- End Services -->

    <!-- Portfolios -->
    <%- include('partials/porto') %>
    <!-- End Portfolios -->

    <!-- Skills & Education -->
    <%- include('partials/skills') %>
    <!-- End Skills & Education  -->

    <!-- Contact -->
    <%- include('partials/contact') %>
    <!-- End Contact -->

    <!-- Fomter -->
    <%- include('partials/footer') %>
    <!-- End Footer -->

    <script src="/js/main.js"></script>
  </body>
</html>
